@mixin banner-image {
  position: absolute;
  width: 100%;
  object-fit: contain;
}
#main {
  width: 100%;
  position: relative;
  height: 450px;
}
#image {
  @include banner-image;
  z-index: 0;
}
#background {
  z-index: 10;
  @include banner-image;
}
