$transparent: transparent;
$blue_dianne: #274c5b;
$acapulco: #7eb693;
$sunset_pearl: #efd372;
$black_coral_pearl: #525c60;
$alto: #d4d4d4;
$alabaster: #f9f8f8;
$saltpan: #eff6f1;
$white: white;

:export {
  transparent: $transparent;
  blueDianne: $blue_dianne;
  acapulco: $acapulco;
  sunsetSearl: $sunset_pearl;
  blackCoralPearl: $black_coral_pearl;
  alto: $alto;
  alabaster: $alabaster;
  saltpan: $saltpan;
  white: $white;
}
