#Footer {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  size: 100%;
  justify-content: center;
  align-items: stretch;
  padding: 0px 130px;
  padding-bottom: 51px;
  background-color: white;
}
